table, thead, td {
	border-spacing: 0;
	border:1px solid black;
	margin: 0 auto;
}
thead, td {
	padding: 3.5px 30px;
}
thead:first-child, td:first-child {
	text-align:left;
}
thead {
	background:#395870;
	color:#fff;
}

tr:nth-child(even) {
	background:#f0f0f2;
}
div.content {
	margin:auto;
	text-align:center;
}
#car-greet-message {
	font-size: 20px;
}
